{% extends "layout.html" %}
{% block body %}
<h3>What part of speech is the word?</h3><br>

<form method=post action="{{ url_for('determine_pos') }}">
  <div class="form-group">
    <div class="radio" name="pos">
      <label><input type="radio" name="NOUN">Noun</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="VERB">Verb</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="ADJECTIVE">Adjective/label>
    </div>
  </div>
  <button type="submit" class="btn btn-default">continue</button>
</form>
{% endblock %}